.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width:1100px) {
  .page {
    max-width: 1024px;
  }
}

@media (max-width:820px) {
  .page {
    max-width: 768px;
  }
}

@media (max-width:690px) {
  .page {
    max-width: none;
  }
}


