.places {
  color: white;
  padding: 0 0 92px;
}

@media (max-width: 1100px) {
  .places {
    padding: 0 48px 92px;
  }
}

@media (max-width: 820px) {
  .places {
    padding: 0 24px 90px;
  }
}

@media (max-width: 690px) {
  .places {
    padding: 0 0 66px;
  }
}
