.lead {
  margin: 0 auto;
  color: white;
  max-width: 984px;
  padding: 0 0 92px;
}

@media (max-width:1100px) {
  .lead {
    padding: 0 48px 92px;
  }
}

@media (max-width:820px) {
  .lead {
    padding: 0 0 88px;
  }
}

@media (max-width:690px) {
  .lead {
    padding: 0 2px 64px;
  }
}
